.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../image/LogoJava.png');
  background-size: cover;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../image/LogoJs,png');
  background-size: cover;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../image/LogoPhotoshop.png');
  background-size: cover;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../image/LogoPython.png');
  background-size: cover;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../image/LogoSwift.png');
  background-size: cover;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../image/LogoWindows.png');
  background-size: cover;
}

