.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../assets/img/LogoJava.png');
  background-size: cover;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../assets/img/LogoJs.png');
  background-size: cover;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../assets/img/LogoPhotoshop.png');
  background-size: cover;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../assets/img/LogoPython.png');
  background-size: cover;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../assets/img/LogoSwift.png');
  background-size: cover;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../assets/img/LogoWindows.png');
  background-size: cover;
}

